body {
    margin: 0 10%;
}

main {
    background: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 32rem;
    min-width: auto;
    justify-content: center;
}

.night_mode {
    background: #0a0a0a;
    color: #ffffff;
}

.screen {
    display: grid;
    font-size: 50px;
    width: 100%;
    justify-items: center;
}

.control {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

main>div>button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    background: #c0c0c0;
    color: transparent;
    padding: 0 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    text-shadow: 0 0 #222222;
    box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
    min-width: 45px;
    min-height: 23px;
}

.combHoriz {
    grid-column: span 2;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: first baseline;
    width: fit-content;
    color: #222222;
}